@model Capstone.ViewModels.NovelItemViewModel
@section Scripts{
    <script src="~/js/NovelItem.js"></script>
}
@{
    ViewData["Title"] = "Novel Item";
    Layout = "/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/Animeitem.css" />
}
<div class="row">
    <div class="col-12">
        <h1>Series: @Html.DisplayFor(model => model.Novel.Title)</h1>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="row" id="animeimage">
            <div class="col-12">
                <img src="@Model.Novel.ImagePath" class="img-fluid mx-auto d-block" width="225" height="318" />
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row" id="addbuttons">
                <div class="col-12">
                    @if (Model.UserListContains == true)
                    {
                        <button type="button" class="btn btn-dark btn-block" id="addremovefromlist">Remove from list</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-dark btn-block" id="addremovefromlist">Add to list</button>
                    }
                </div>
                <div class="col-12">
                    @if (Model.UserFavoriteContains == true)
                    {
                        <button type="button" class="btn btn-dark btn-block" id="addremovefromfavorites">Remove favorite</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-dark btn-block" id="addremovefromfavorites">Make favorite</button>
                    }
                </div>

            </div>
        }
        <div class="row" id="info">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <p><b>Type:</b></p>
                    </div>
                    <div class="col-8">
                        <p>@Html.DisplayFor(model => model.Novel.Type)</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <p><b>Chapters:</b></p>
                    </div>
                    <div class="col-8">
                        <p>@Html.DisplayFor(model => model.Novel.EpisodeCount)</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <p><b>Complete status: </b></p>
                    </div>
                    <div class="col-8">
                        @Html.DisplayFor(model => model.Novel.Status)
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <p><b>Premiered:</b></p>
                    </div>
                    <div class="col-8">
                        <p>@Html.DisplayFor(model => model.Novel.Premiered)</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <p><b>Source material: </b></p>
                    </div>
                    <div class="col-8">
                        <p>@Html.DisplayFor(model => model.Novel.Source)</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <p><b>Age rating: </b></p>
                    </div>
                    <div class="col-8">
                        <p>@Html.DisplayFor(model => model.Novel.RecommendedAge)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div class="row header">
            <div class="col-12">
                <h3>Stats</h3>
            </div>
        </div>

        <div class="row" id="stats">
            <div class="col-4">
                <div class="row" id="info">
                    <div class="col-sm-12">
                        <p><b>Rating</b></p>
                    </div>
                </div>
                <div class="row" id="info">
                    <div class="col-sm-12">
                        <p>@Model.Novel.Rating</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <p><b>Popularity</b></p>
                    </div>
                    <div class="col-6">
                        <p><b>Members</b></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p>@Model.Novel.Popularity</p>
                    </div>
                    <div class="col-6">
                        <p>@Model.Novel.Members</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="header row">
            <div class="col-12">
                <h3>Synopsis</h3>
            </div>
        </div>

        <div class="row" id="synopsis">
            <div class="col-12">
                <p>@Html.DisplayFor(model => model.Novel.Synopsis)</p>
            </div>
        </div>

        <div class="header row">
            <div class="col-12">
                <h3>Recommendations</h3>
            </div>
        </div>

        <div class="row" id="recommendations">
            <div class="col-2">
                <img src="~/img/Anime/rezero.jpg" class="img-thumbnail" width="100" />
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12">
                        <p>Recommended title</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Reasoning behind suggestion</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="header row">
            <div class="col-8">
                <h3>Reviews</h3>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-4">
                    <button class="btn-sm btn-dark btn-block" data-toggle="modal" data-target="#reviewModal">Add Review</button>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-12" id="reviewsdiv">
                @{
                    var counter = 0;
                }
                @foreach (var review in Model.ReviewsList)
                {
                    var userName = Model.UserList[counter].UserName;
                    counter += 1;
                    <div class="review row" id="review@(counter)">
                        <div class="reviewinfo col-12">
                            <div class="row">
                                <div class="col-1">
                                    <img src="@Model.UserList[counter-1].ProfileImagePath" class="img-thumbnail" id="reviewimage@(counter)" width="100" />
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-6">
                                            <p id="reviewuser@(counter)"><b>User:</b> <a asp-controller="Profile" asp-action="UserProfile" asp-route-username="@userName">@userName</a></p>
                                        </div>
                                        <div class="col-6">
                                            <p id="reviewrating@(counter)"><b>Rating:</b> @review.Rating</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">

                                        </div>
                                        <div class="col-6">
                                            <p id="reviewdate@(counter)"><b>Date:</b> @review.PostDate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">

                                </div>
                                <div col-10">
                                    <p id="reviewbody@(counter)">@review.Review</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @for (var i = Model.ReviewsList.Count; i < 5; i++)
                {
                    counter += 1;
                    <div class="review row" id="review@(counter)" style="visibility: hidden;">
                        <div class="reviewinfo col-12">
                            <div class="row">
                                <div class="col-1">
                                    <img src="" class="img-thumbnail" id="reviewimage@(counter)" width="100" />
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-6">
                                            <p id="reviewuser@(counter)"></p>
                                        </div>
                                        <div class="col-6">
                                            <p id="reviewrating@(counter)"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">

                                        </div>
                                        <div class="col-6">
                                            <p id="reviewdate@(counter)"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">

                                </div>
                                <div class="col-10">
                                    <p id="reviewbody@(counter)"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Review of: @Html.DisplayFor(model => model.Novel.Title)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="rating">Rating: </label>
                        <select class="form-control" id="rating">
                            @for (var i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="review">Review: </label>
                        <input type="text" class="form-control" id="review" name="review">
                    </div>
                    <input type="hidden" id="novelId" name="novelId" value="@Model.Novel.Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitreview">Submit Review</button>
                </div>
            </form>
        </div>
    </div>
</div>

