@model Capstone.Models.AnimeItemViewModel
@section Scripts{ 
    <script src="~/js/AnimeItem.js"></script>
}
@{
    ViewData["Title"] = "item";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <h1>Series: @Html.DisplayFor(model => model.Anime.Title)</h1>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="row" id="animeimage">
            <div class="col-12">
                <img src="@Model.Anime.ImagePath" width="225" height="318" />
            </div>
        </div>
        <div class="row" id="addbuttons">
            <div class="col-12">
                <button type="button" class="btn btn-dark btn-block">Add to list</button>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-dark btn-block">Add to favorites</button>
            </div>

        </div>
        <dl class="row" id="info">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Anime.Type)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Anime.Type)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Anime.EpisodeCount)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Anime.EpisodeCount)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Anime.Status)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Anime.Status)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Anime.Aired)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Anime.Aired)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Anime.Premiered)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Anime.Premiered)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Anime.Source)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Anime.Source)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Anime.EpisodeDuration)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Anime.EpisodeDuration)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Anime.RecommendedAge)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Anime.RecommendedAge)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Anime.Rating)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Anime.Rating)
            </dd>
        </dl>
    </div>
    <div class="col-9">
        <h3>Stats</h3>
        <div class="row" id="stats">
            <div class="col-2">
                <dl class="row" id="info">
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.Anime.Rating)
                    </dt>
                </dl>
                <dl class="row" id="info">
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.Anime.Rating)
                    </dd>
                </dl>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-4">
                        <dl class="row" id="info">
                            <dt class="col-sm-8">
                                @Html.DisplayNameFor(model => model.Anime.Popularity)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => model.Anime.Popularity)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-4">
                        <p>Ranking: 1</p>
                    </div>
                    <div class="col-4">
                        <p>Members: 10000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <dl class="row" id="info">
                            <dt class="col-sm-8">
                                @Html.DisplayNameFor(model => model.Anime.Premiered)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => model.Anime.Premiered)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-4">
                        <dl class="row" id="info">
                            <dt class="col-sm-8">
                                @Html.DisplayNameFor(model => model.Anime.Type)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => model.Anime.Type)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-4">
                        <p>Studio: White Fox</p>
                    </div>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-12">
                    <h3>User status</h3>
                </div>
            </div>
            <div class="row" id="userstatus">
                <div class="col-3">
                    <h5>Status</h5>
                    <select>
                        <option value="plantowatch">Plan to watch</option>
                        <option value="watching">Watching</option>
                        <option value="complete">Complete</option>
                    </select>
                </div>
                <div class="col-3">
                    <h5>Rating</h5>
                    <select>
                        @for (var i = 1; i <= 10; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <h5>Episodes Watched</h5>
                    <input type="number" />
                </div>
                <div class="col-3">
                    <h5>Add / Remove from list</h5>
                    <button type="button" class="btn btn-dark btn-block">Add</button>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <h3>Synopsis</h3>
            </div>
        </div>
        <div class="row" id="synopsis">
            <div class="col-12">
                <p>@Html.DisplayFor(model => model.Anime.Synopsis)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <h3>Reviews</h3>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-4">
                    <button class="btn btn-dark btn-block" data-toggle="modal" data-target="#reviewModal">Add Review</button>
                </div>
            }

        </div>
        @{
            var counter = 0;
        }
        @foreach (var review in Model.ReviewsList)
        {
            var userName = Model.UserList[counter].UserName;
            counter += 1;
            <div class="row">
                <div class="col-12">
                    <a asp-controller="Profile" asp-action="User" asp-route-username="@userName">@userName</a>
                    <p>Date: @review.PostDate</p>
                    <p>Rating: @review.Rating</p>
                </div>
                <div class="col-12">
                    <p>@review.Review</p>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <h3>Recommendations</h3>
            </div>
        </div>
        <div class="row" id="recommendations">
            <div class="col-2">
                <img src="~/img/rezero.jpg" width="100" />
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12">
                        <p>Recommended title</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Reasoning behind suggestion</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Review of: @Html.DisplayFor(model => model.Anime.Title)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Crud" asp-action="PostReview" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Rating: </label>
                        <input type="number" class="form-control" id="rating" min="1" max="10" name="rating">
                    </div>
                    <div class="form-group">
                        <label for="review">Review: </label>
                        <input type="text" class="form-control" id="review" name="review">
                    </div>
                    <input type="hidden" id="animeId" name="animeId" value="@Model.Anime.Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="submitreview">Submit Review</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

