@model Capstone.Models.AnimeItem
@{
    ViewData["Title"] = "item";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h1>Series: @Html.DisplayFor(model => model.Title)</h1>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="row" id="animeimage">
            <div class="col-12">
                <img src="~/img/rezero.jpg" width="250" />
            </div>
        </div>
        <div class="row" id="addbuttons">
            <div class="col-12">
                <button type="button" class="btn btn-dark btn-block">Add to list</button>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-dark btn-block">Add to favorites</button>
            </div>

        </div>
        <dl class="row" id="info">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.EpisodeCount)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.EpisodeCount)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Aired)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Aired)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Premiered)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Premiered)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Source)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Source)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.EpisodeDuration)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.EpisodeDuration)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.RecommendedAge)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.RecommendedAge)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Rating)
            </dd>
        </dl>
    </div>
    <div class="col-8">
        <h3>Stats</h3>
        <div class="row" id="stats">
            <div class="col-2">
                <dl class="row" id="info">
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.Rating)
                    </dt>
                </dl>
                <dl class="row" id="info">
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.Rating)
                    </dd>
                </dl>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-4">
                        <dl class="row" id="info">
                            <dt class="col-sm-8">
                                @Html.DisplayNameFor(model => model.Popularity)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => model.Popularity)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-4">
                        <p>Ranking: 1</p>
                    </div>
                    <div class="col-4">
                        <p>Members: 10000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <dl class="row" id="info">
                            <dt class="col-sm-8">
                                @Html.DisplayNameFor(model => model.Premiered)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => model.Premiered)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-4">
                        <dl class="row" id="info">
                            <dt class="col-sm-8">
                                @Html.DisplayNameFor(model => model.Type)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => model.Type)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-4">
                        <p>Studio: White Fox</p>
                    </div>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-12">
                    <h3>User status</h3>
                </div>
            </div>
            <div class="row" id="userstatus">
                <div class="col-3">
                    <h5>Status</h5>
                    <select>
                        <option value="plantowatch">Plan to watch</option>
                        <option value="watching">Watching</option>
                        <option value="complete">Complete</option>
                    </select>
                </div>
                <div class="col-3">
                    <h5>Rating</h5>
                    <select>
                        @for (var i = 1; i <= 10; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <h5>Episodes Watched</h5>
                    <input type="number" />
                </div>
                <div class="col-3">
                    <h5>Add / Remove from list</h5>
                    <button type="button" class="btn btn-dark btn-block">Add</button>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <h3>Synopsis</h3>
            </div>
        </div>
        <div class="row" id="synopsis">
            <div class="col-12">
                <p>@Html.DisplayFor(model => model.Synopsis)</p>
            </div>
        </div>  
        <div class="row">
            <div class="col-12">
                <h3>Recommendations</h3>
            </div>
        </div>
        <div class="row" id="recommendations">
            <div class="col-2">
                <img src="~/img/rezero.jpg" width="100"/>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12">
                        <p>Recommended title</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Reasoning behind suggestion</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

