@model List<Capstone.Models.AnimeItem>
@{
    ViewData["Title"] = "SearchResults";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@{
}
<div class="row">
    <div class="col-12">
        <h1>Anime Search</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 nav">
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="A">A</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="B">B</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="C">C</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="D">D</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="E">E</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="F">F</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="G">G</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="H">H</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="I">I</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="J">J</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="K">K</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="L">L</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="M">M</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="N">N</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="O">O</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="P">P</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="Q">Q</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="R">R</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="S">S</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="T">T</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="U">U</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="V">V</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="W">W</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="X">X</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="Y">Y</a>
        <a class="nav-link" asp-controller="Anime" asp-action="SearchResults" asp-route-startingLetter="Z">Z</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form class="form-inline my-2 my-lg-0" asp-controller="Anime" asp-action="SearchResults">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="animeTitle">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
@if (Model.Count >= 1)
{
    <div class="row">
        <div class="col-12">
            <h3>Results</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Chapters</th>
                        <th>Rating</th>
                        <th>Members</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var anime in Model)
                    {
                        <tr>
                            <td><a asp-controller="Anime" asp-action="Item" asp-route-id="@anime.Id">@anime.Title</a></td>
                            <td><p>@anime.Type</p></td>
                            <td><p>@anime.EpisodeCount</p></td>
                            <td><p>@anime.Rating</p></td>
                            <td><p>@anime.Members</p></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12">
            <h3>Results</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>There is no anime that matched your query</p>
        </div>
    </div>
}



