@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts{
    <script src="~/js/TopAnime.js"></script>
}
@model Capstone.Models.UserAnimeListViewModel
@{
    ViewData["Title"] = $"Top Anime";
}
<div class="row">
    <div class="col-12">
        <h1>Top Anime</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ranking</th>
                    <th scope="col">Series Title</th>
                    <th scope="col">Average Score</th>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <th scope="col">Your Score</th>
                        <th scope="col">Your Status</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    var counter = 0;
                }
                @foreach (var anime in Model.AnimeInfoList)
                {
                    var animeId = anime.Id;
                    counter += 1;
                    <tr>
                        <td>
                            @counter
                        </td>
                        <td>
                            <a asp-controller="Anime" asp-action="Item" asp-route-id="@animeId">@Html.DisplayFor(model => anime.Title)</a>
                            <input type="hidden" id="animeid" value="@animeId" />
                        </td>
                        <td>
                            @Html.DisplayFor(model => anime.Rating)
                        </td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <td>
                                @Model.UserAnimeList[counter - 1].UserRating
                            </td>
                            <td>
                                @if (@Model.UserAnimeList[counter - 1].CompleteStatus == 0)
                                {
                                    <button type="button" class="btn btn-primary addanime" value="@animeId">Add anime</button>
                                }
                                else
                                {
                                    @Model.UserAnimeList[counter - 1].CompleteStatus
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

