@model Capstone.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/home.css" />
}
<div class="row" id="anime">
    <div class="col-sm-12 col-md-12 col-lg-8" id="animerelease">
        <h3>Anime Releases</h3>
        <ul id="responsive1">
            @foreach (var anime in Model.NewestAnime)
            {
                <li>
                    <a asp-controller="Anime" asp-action="Item" asp-route-id="@anime.Id">
                        <span class="title">@anime.Title</span>
                        <img src="@anime.ImagePath" width="160" height="220" />
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4" id="popularanime">
        <h3>Most Popular Anime</h3>
        <ul id="responsivepopular1">
            @foreach (var anime in Model.HighestRatedAnime)
            {
            <li>                
                <a asp-controller="Anime" asp-action="Item" asp-route-id="@anime.Id">
                    <span class="title">@anime.Title</span>
                    <img src="@anime.ImagePath" width="160" height="220" />
                </a>
            </li>
            }
        </ul>
    </div>
</div>
<div class="row" id="manga">
    <div class="col-sm-12 col-md-12 col-lg-8" id="mangarelease">
        <h3>Manga Releases</h3>
        <ul id="responsive2">
            @foreach (var manga in Model.NewestManga)
            {
                <li>
                    <a asp-controller="Manga" asp-action="Item" asp-route-id="@manga.Id">
                        <span class="title">@manga.Title</span>
                        <img src="@manga.ImagePath" width="160" height="220" />
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-4" id="popularmanga">
        <h3>Most Popular Manga</h3>
        <ul id="responsivepopular2">
            @foreach (var manga in Model.HighestRatedManga)
            {
                <li>
                    <a asp-controller="Manga" asp-action="Item" asp-route-id="@manga.Id">
                        <span class="title">@manga.Title</span>
                        <img src="@manga.ImagePath" width="160" height="220" />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="row" id="novel">
    <div class="col-sm-12 col-md-12 col-lg-8" id="novelrelease">
        <h3>Light Novel Releases</h3>
        <ul id="responsive3">
            @foreach (var novel in Model.NewestNovel)
            {
                <li>
                    <a asp-controller="Novel" asp-action="Item" asp-route-id="@novel.Id">
                        <span class="title">@novel.Title</span>
                        <img src="@novel.ImagePath" width="160" height="220" />
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-4" id="popularnovel">
        <h3>Most Popular Light Novels</h3>
        <ul id="responsivepopular3">
            @foreach (var novel in Model.HighestRatedNovel)
            {
                <li>
                    <a asp-controller="Novel" asp-action="Item" asp-route-id="@novel.Id">
                        <span class="title">@novel.Title</span>
                        <img src="@novel.ImagePath" width="160" height="220" />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
