@model Capstone.Models.UserAnimeListViewModel
@{
    var userName = Model.User.UserName;
    ViewData["Title"] = $"{@userName}'s Anime List";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <h3>@userName's Anime List</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Series Title</th>
                    <th scope="col">Score</th>
                    <th scope="col">Progress</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var counter = 0;
                }
                @foreach (var anime in Model.AnimeInfoList)
                {
                    var animeId = anime.Id;
                    counter += 1;
                    <tr>
                        <td>
                            @counter
                        </td>
                        <td>
                            <a asp-controller="Anime" asp-action="Item" asp-route-id="@animeId">@Html.DisplayFor(model => anime.Title)</a>
                        </td>
                        <td>
                            @Model.UserAnimeList[counter-1].UserRating
                        </td>
                        <td>
                            @Model.UserAnimeList[counter - 1].UserProgress / @Html.DisplayFor(model => anime.EpisodeCount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

